.buttonone {
 background-color: blue;
 width: 500px;
 height: 200px;
}
.buttontwo {
 background-color: green; 
 width: 500px;
 height: 200px;
}
.buttonthree {
 background-color: red;
 width: 500px;
 height: 200px;
}
.buttonfour {
 background-color: yellow; 
 width: 500px;
 height: 200px;
}
.heading {
 font-family: ubuntu;
 text-align: center;
}
.question {
 text-align: center;
 font-family: ubuntu;
}
.table {
table-align: center;
}
