.buttonone {
 background-color: blue;
}
.buttontwo {
 background-color: green; 
}
.buttonthree {
 background-color: red;
}
.buttonfour {
 background-color: yellow; 
}
.heading {
 font-family: Ubuntu;
}
