.buttonone {
 background-color: blue;
 width: 100px;
 height: 40px;
}
.buttontwo {
 background-color: green; 
}
.buttonthree {
 background-color: red;
}
.buttonfour {
 background-color: yellow; 
}
.heading {
 font-family: roboto;
 text-align: center;
}
